:root {
    --random-color: #c8d6e5;
    --bg-color-active: #dfe6e9;
    --circle--backlight: #dfe6e9;
}



body {
    height: 100vh;
    width: 99%;

    background-color: var(--bg-color-active);
    font-family: 'Comfortaa', cursive;

    transition: 1s;
}

.container {
    width: 95%;
    min-height: 95%;
    margin: 0 auto;
}

section {
    width: 37em;
    margin: auto;
    padding-top: 10px;
}

.chart {
    position: relative;
    overflow: hidden; /* .triangle выходят за пределы */
}

.chart:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.triangle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    transform-origin: center bottom;
    overflow: hidden;
}

.circle {
    height: 100%;
    width: 100%;
    /* background: silver; */
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform-origin: center bottom;
    transform: rotate(120deg);

    opacity: 0.8;

    background-color: var(--random-color);
    /* box-shadow: 2px 2px 40px var(--circle--backlight); */

    transition: 0.8s;
}


.magic_ball {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    height: 550px;
    width: 550px;

    background-color: white;
    border-radius: 100%;
}

.answer {
    height: 80px;
    width: 500px;
    padding-top: 40px;

    box-shadow: 1px 2px 5px #636e72;
    border-radius: 30%;

    text-align: center;
    font-size: 30px;
}

.answer_text {
    transition: 2s;
}

.question {
    position: relative;
    width: 100%;
    height: 70px;
}

.question_area {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.question_input {
    height: 30px;
    width: 300px;
    margin: 20px 0;
    margin-top: 40px;
    padding: 8px;

    border: none;
    resize: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.752);
    border-radius: 20%;

    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.send_question {
    height: 30px;
    width: 120px;

    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.752);

    font-family: 'Comfortaa', cursive;
}